body{
    background: rgba(0,0,0,0.5) url('../images/login_bg.png') no-repeat top center fixed;  
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

.project-logo-area{
    padding:5px;  
    border-radius:5px; 
    margin: 0 auto 10px; 
}

.project-logo-area h1 span.tri-color-orange{
    color: #FF9933;
}

.project-logo-area h1 span.tri-color-white{
    color: #FFFFFF;
}

.project-logo-area h1 span.tri-color-green{
    color: #138808;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin{margin-bottom:50px;}

.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-radius: 5px;
}

.form-signin input[type="password"] {
    border-radius: 5px;
}

.form-signin select{
    border-radius: 5px;
}

.form-signin input[type="password"] {
}

.login-box-style{
    padding:20px;  
    border-radius:5px; 
    color:#359edd; 
    margin:0 auto;  
    max-width:50%;
}
.login-box-style legend{color:#359edd; font-size:24px; border-width:0;}
.login-box-style .form-control{border-radius:0;}
.login-box-label{font-size:20px; font-weight:normal; margin-bottom:10px; color: #359EDD;}

.login-box-shadow{background:url(../images/login-box-shadow.png) no-repeat center top; background-size:cover; height:16px;}

.footer-style{color:#fff; text-shadow:1px 1px 1px rgba(0,0,0,0.28);}

.footer-style a{color:#000; font-weight:bold; font-size: 16px; text-decoration: none;}

.no-bg{background:none !important;}
